.modal-body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    transition: all 0.5s ease-in-out;
    position: relative;

    .modal-img {
        width: 45%;
        height: 300px;
        position: relative;
        border-radius: 5px;
        overflow: hidden;

        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        span {
            position: absolute;
            top: 10px;
            left: 10px;
            background-color: rgba(8, 165, 8, 0.159);
            padding: 2px 0.7em;
            font-weight: 600;
            border-radius: 20px;
            font-size: 0.9rem;
            color: rgb(0, 116, 0);
            border: 1px solid rgb(0, 116, 0);
            cursor: pointer;
            transition: all 0.3s;

            &:hover {
                color: #fff;
                border: 1px solid #fff;
            }
        }
    }

    .modal-info {
        width: 53%;
        padding: 0.5em 0.7em;
        position: relative;

        h3 {
            font-size: 1.7em;
            color: #333;
            font-weight: 500;
        }

        p {
            font-size: 0.9em;
            font-weight: 400;
        }

        .modal-btn {
            display: flex;
            align-items: center;
            position: absolute;
            bottom: 0;
            right: 0;

            .modal-icon {
                background-color: #333;
                margin-right: 10px;
                color: #fff;
            }

            .modal-add {
                border-radius: 20px;
                color: rgb(51, 51, 51);
                background-color: transparent;
                border: 1px solid #333;
                font-weight: 600;
                transition: all 0.3s;

                &:hover {
                    background-color: #333;
                    color: #fff;
                }
            }
        }
    }

    .modal-close {
        position: absolute;
        top: -10px;
        right: -10px;
        background-color: rgba(255, 0, 0, 0.85);
        color: #fff;
        transition: all 0.3s;
        cursor: pointer;

        &:hover {
            color: red;
            background-color: transparent;
            border: 1px solid red;
        }
    }
}

@media screen and (max-width: 994px) {
    .modal-body {
        display: block;

        .modal-img {
            width: 100%;
        }

        .modal-info {
            width: 100%;
            padding: 0.7em 0 0 0;

            .modal-btn {
                position: relative;
            }
        }
    }
}