.categorie-card {
    width: 100%;
    min-height: 300px;
    overflow: hidden;
    position: relative;
    border: none;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;

    img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: all 0.5s;
    }

    .categorie-card-body {
        position: absolute;
        left: 0;
        width: 100%;
        height: 100%;
        padding: 1em;

        h3 {
            font-size: 1.6em;
            font-weight: 600;
            color: #fff;
        }

        p {
            font-size: 1em;
            font-weight: 400;
            color: #fff;
        }
    }

    &:hover {
        .categorie-card-body {
            background-image: linear-gradient(to left, rgba(255, 255, 255, 0)0%, rgba(0, 0, 0, 0.761) 100%);
        }

        img {
            transform: scale(1.2);
        }
    }
}