.header {
    width: 70%;
    height: 100%;
    background-color: transparent;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    transition: width 0.5s ease-in-out;

    .header-top {
        display: flex;
        align-items: center;
        justify-content: center;

        h1 {
            font-size: 5.5em;
            margin-top: 30px;
            font-style: italic;
            color: #333;
            font-weight: 600;
        }

        span {
            margin-bottom: -70px;
            font-size: 1.5em;
        }

        .header-logo {
            width: 200px;
            background-color: rgba(31, 31, 31, 0.898);
            color: #fff;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 7px;
            border-radius: 10px;
            box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.631);

            h3 {
                font-size: 2.5em;
                font-weight: 600;
            }

            span {
                font-size: 1em;
                font-weight: 400;
                margin-bottom: -7px;
            }
        }

        .header-card {
            background-color: #333;
            padding: 2px 2px 2px 7px;
            color: #fff;
            border-radius: 20px;
            display: flex;
            align-items: center;
            font-size: 1.1em;
            text-transform: uppercase;
            font-weight: 600;
            cursor: pointer;

            .header-card-icon {
                background-color: #fff;
                border-radius: 50%;
                width: 35px;
                height: 35px;
                color: #333;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-left: 5px;
                position: relative;

                span {
                    position: absolute;
                    top: 0;
                    right: 0;
                    font-weight: 600;
                    font-size: 0.7em;
                    background-color: red;
                    color: white;
                    border-radius: 50%;
                    width: 15px;
                    height: 15px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }
        }
    }

    .header-box {
        height: 250px;
        width: 93%;
        position: absolute;
        bottom: 100px;
        left: 30px;
        z-index: 2;
        display: flex;
        justify-content: space-between;

        .header-box-items {
            width: 30%;
            height: 100%;
            border-radius: 10px;
            overflow: hidden;
            cursor: pointer;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }

    .header-bottom {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 150px;
        background-color: #333;

        ul {
            list-style-type: none;
            padding: 0;
            position: absolute;
            bottom: 10px;
            right: 10%;
            display: flex;

            li {
                width: 40px;
                height: 40px;
                background-color: #333;
                box-shadow: 0 0 10px 2px rgba(29, 29, 29, 0.885);
                color: #fff;
                display: flex;
                align-items: center;
                justify-content: center;
                margin: 0 15px;
                border-radius: 50%;
                padding: 5px;
                cursor: pointer;
                transition: all 0.5s;

                &:hover {
                    background-color: #fff;
                    color: #333;
                }
            }
        }
    }
}

.header-right {
    width: 30%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: -2;
    transition: width 0.5s;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}


@media screen and (max-width: 900px) {
    .header {
        width: 100%;

        .filter {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(5, 5, 5, 0.289);
            filter: blur(2px);
            z-index: -1;
        }
    }

    .header-box {
        left: 10px;
    }

    .header-right {
        width: 100%;
    }
}