.header-container {
    position: sticky;
    top: 0;
    z-index: 999;
    background-color: #fff;
}

.header-nav {
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;

    .header-nav-left {
        display: flex;
        align-items: center;
    }

    .header-nav-right {

        ul {
            list-style-type: none;
            padding: 0;
            display: flex;
            margin-top: 15px;

            li {
                margin: 0 15px;
                width: 35px;
                height: 32px;
                background-color: #333;
                border-radius: 20px;
                position: relative;
                display: flex;
                align-items: center;
                overflow: hidden;
                transition: all 0.5s ease;
                cursor: pointer;

                .nav-link {
                    position: absolute;
                    left: -17px;
                    display: flex;
                    align-items: center;

                    .nav-icon {
                        background-color: #fff;
                        color: #333;
                        border-radius: 50%;
                        font-size: 32px;
                        padding: 5px;
                        margin-right: 5px;
                        box-shadow: 0 0 10px #333;
                    }

                    span {
                        font-weight: 600;
                        font-size: 1em;
                        color: #fff;
                    }
                }

                &:hover {
                    width: 120px;
                    border: 1px solid #fff;
                }
            }
        }
    }
}

@media screen and (max-width: 900px) {
    .header-nav-left {}

}