.card-product {
    box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
    border-radius: 20px;
    border: none;
    overflow: hidden;

    &:hover .card-img .img {
        transform: scale(1.2);
    }
}

.card-img {
    height: 300px;
    overflow: hidden;

    .img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: all 0.5s ease-in-out;
    }
}

.card-body {
    padding: 8px 0.5em 5px 0.5em;

    .des {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .title {
        font-size: 1.2rem;
        color: #333;
    }

    .icon {
        padding: 5px;
    }

    .like {
        color: red;
    }

    .price p {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding-top: 10px;
        font-size: 0.8em;
        font-weight: 700;
        color: red;
    }
}

@media screen and (max-width: 572px) {
    .card-img {
        height: 350px;
    }
}