.head {
    margin-top: 100px;
    background-color: rgba(223, 223, 223, 0.405);

    h3 {
        text-transform: uppercase;
        color: #555;
        font-size: 25px;
    }
}

.product {
    margin-top: 100px;
}